<h1>STUPID COACHING</h1>

<form action="/answer" method="get">
  <input type="text" name="asks" placeholder="Ask your coach anything:">
  <input type="submit" value="Ask!">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>
